.container {
    position: relative;
    border-radius: 25px;
    background-color: rgb(251, 248, 254);
    width: 330px;
    min-height: 77px;
    cursor: default;
}

.overlapping {
    position: relative;
    padding: 18px 14px 14px 45px;
    flex-direction: column;
    align-items: flex-start;
}

img {
    position: absolute;
    top: 18px;
    right: 49px;
    width: 41px;
    height: 41px;
    object-fit: cover;
    transition: top 0.5s;
}

.sticky {
    position: sticky;
    height: 500px;
    top: 0px
}